@media screen {
  .main {
    width: 100px;
    height: 100px;
    background: blue; } }

.header {
  widows: 100%;
  height: 50px;
  background: red; }

body {
  color: red;
  background: yellow;
  widows: 500px;
  height: 100px; }

body {
  padding: 105px; }
