<div class="sc sc--button">
  <div class="row">
    <button type="button" class="button button--large">Learn More</button>
    <button type="button" class="button button--large button--radius">Sign Up</button>
    <button type="button" class="button button--large button--round">Sign Up</button>
    <button type="button" class="button button--large button--round button--inverse">Logout</button>
    <button type="button" class="button button--circle_l">></button>
  </div>
  <div class="row">
    <button type="button" class="button">Load More</button>
    <button type="button" class="button button--radius">Buy Now</button>
    <button type="button" class="button button--round">Order now</button>
    <button type="button" class="button button--round button--inverse">Install</button>
    <button type="button" class="button button--radius button--square">&#9776</button>
    <button type="button" class="button button--circle"><</button>
    <button type="button" class="button button--radius button--wedge">Next</button>
  </div>
  <div class="row">
    <button type="button" class="button button--small">Start</button>
    <button type="button" class="button button--small button--radius">Download</button>
    <button type="button" class="button button--small button--round">Sign Up</button>
    <button type="button" class="button button--small button--round button--inverse">Free trial</button>
    <button type="button" class="button button--small button--radius button--square_s">&#9776</button>
    <button type="button" class="button button--circle_s">></button>
    <span class="button button--radius button--lr">
      <button type="button" class="button button--small button--lr_item"><</button>
      <button type="button" class="button button--small button--lr_item">></button>
    </span>
    <button type="button" class="button button--small button--radius button--wedge">Forward</button>
  </div>
</div>