<div class="sc">
	<span class="form form__align">
		<button class="form form__align--item">
			<span class="form__align--span"></span>
			<span class="form__align--span"></span>
			<span class="form__align--span"></span>
		</button>
		<button class="form form__align--item">
			<span class="form__align--span"></span>
			<span class="form__align--span"></span>
			<span class="form__align--span"></span>
		</button>
		<button class="form form__align--item">
			<span class="form__align--span"></span>
			<span class="form__align--span"></span>
			<span class="form__align--span"></span>
		</button>
	</span>

	<form action="/contact" method="post" accept-charset="utf-8" class="form form__send">
		<input type="text" value="Hey there!" class="form form__send form__send--input">
		<button class="form form__send form__send--button">Send</button>
	</form>

	<form action="/contact" method="post" accept-charset="utf-8" class="form">
		<select name="To" id="" class=" form form__select">
			<option value="To seller" class="form__option">To seller</option>
			<option value="To director" class="form__option">To director</option>
			<option value="To manager" class="form__option">To manager</option>
		</select>
		<input type="text" placeholder="Message" class="form form__send form__send--input form__select--input">
		<button class="form form__send form__send--button form__select--button">Send</button>
	</form>
	<select name="Ok" id="" class=" form form__select">
		<option value="Ok" class="form__option">Ok</option>
		<option value="No" class="form__option">No</option>
		<option value="Maybe" class="form__option">Maybe</option>
	</select>
</div>