<div class="sc sc--input">
	<input type="text" placeholder="E-mail" class="input">
	<input type="text" value="hello" class="input input--blue">
	<input type="text" placeholder="Search" class="input input--round input--search">
	<input type="text" value="UI Kit" class="input input--round input--search input--blue">
	<select name="Ok" id="" class=" input input--success">
		<option value="hello@creativeda.sh" class="form__option">hello@creativeda.sh</option>
		<option value="by" class="form__option">by@creativeda.sh</option>
		<option value="why" class="form__option">why@creativeda.sh</option>
	</select>
</div>
